<!-- PROLOGUE VIEW -->
<section 
  id="prologue-view" 
  x-show="$store.game.view === 'prologue'" 
  class="prologue-overlay"
  @click="$store.game.prologue.advancePrologue($store.game)"
  style="cursor: pointer"
>
  <!-- Image Backgrounds -->
  <div class="prologue-images">
      <img src="img/prologue/LM_islands.png" class="pro-img" :class="[1,2].includes($store.game.prologueStep) && 'active'" />
      <img src="img/prologue/LM_Luxana.png" class="pro-img" :class="[3,4,5].includes($store.game.prologueStep) && 'active'" />
      <img src="img/prologue/LM_Dorf.png" class="pro-img" :class="[6,7].includes($store.game.prologueStep) && 'active'" />
  </div>

  <div class="prologue-container">
    <template x-for="i in 7" :key="i">
      <div 
        class="prologue-text" 
        x-show="$store.game.prologueStep === i"
        x-transition:enter="prologue-enter"
        x-transition:enter-start="prologue-enter-start"
        x-transition:enter-end="prologue-enter-end"
        x-transition:leave="prologue-leave"
        x-transition:leave-start="prologue-leave-start"
        x-transition:leave-end="prologue-leave-end"
        x-text="$store.game.t('intro_' + i, 'logs')"
      ></div>
    </template>
    
    <div class="prologue-advance-hint" x-show="$store.game.view === 'prologue'">
      Klicke um fortzufahren...
    </div>
  </div>
  
  <div class="prologue-footer">
      <div class="skip-hint">[ESC] zum Überspringen | [ENTER] zum Fortfahren</div>
      <button class="skip-btn" @click.stop="$store.game.prologue.skipPrologue($store.game)">
        Skip Intro <span>»</span>
      </button>
  </div>
</section>
